table {
  width: 100%;
  margin-top: -20px;
}

.txtDecor {
  text-decoration: none;
}

.txtDecor:hover {
   text-decoration: underline;
 }

.head-div {
  width: 100%;
  margin-top: -20px;
}
.head-div div {
  display: inline;
}

.head-div button {
  float: right;
  margin-top: 20px;
}

