table {
  width: 100%;
}

.txtDecor {
  text-decoration: none;
}

.txtDecor:hover {
   text-decoration: underline;
 }

.head-div {
  width: 100%;
}

.head-div button {
  margin-bottom: 20px;
  float: right;
  position: relative;
  top:-20px;
}
