<div class="info">
  <div style="width: 80%; display: inline-block;">
    <p><b>{{ location.city.name }}, {{ location.city.state.name }}</b></p>
    <p>Latitude: {{ location.latitude }}</p>
    <p>Longitude: {{ location.longitude }}</p>
  </div>
  <div style="width: 20%; display: inline-block;">
    <app-button color="primary" label="UPDATE"></app-button>
  </div>
</div>
<br>
<agm-map [latitude]=+location.latitude [longitude]=+location.longitude (mapClick)="onChoseLocation($event)">
  <agm-marker [latitude]=+location.latitude [longitude]=+location.longitude></agm-marker>
  <agm-marker [latitude]=coords.lat [longitude]=coords.lng *ngIf="coords"></agm-marker>
</agm-map>

<div *ngIf="!newCoords" class="newCoords">
  <p>Click on the map to select new coordinates.</p>
</div>

<div *ngIf="newCoords" class="newCoords">
  <div style="width: 70%; display: inline-block"><p>New coordinates: {{ coords.lat }} {{ coords.lng }}</p></div>
  <div style="width: 30%; display: inline-block">
    <app-button color="accent" label="UPDATE COORDINATES FOR {{ location.city.name.toUpperCase() }}" (click)="openDialog()"></app-button>
  </div>
</div>

<div *ngIf="updated" class="updated">
  <p>Coordinates for {{ location.city.name }} updated!</p>
</div>
